<h1>Name of Meetup</h1>
<form action= "/meetups" method="post">
  <label for= "name">Enter Name:</label>
  <input type="text" id="name" name="name">

  <label for= "location">Enter Location:</label>
  <input type="text" id="location" name="location">

  <label for= "description">Enter Description:</label>
  <input type="text" id="description" name="description">

  <input type = "submit" value = "Submit">

</form>
